#!/bin/sh -eu
exec >>/var/log/acme.log 2>&1
date

stats() {
	cert="/etc/ssl/uacme/$1/cert.pem"

	if ! [ -e "$cert" ]
	then
		return
	fi

	expiration=$(date -d"$(openssl x509 -enddate -noout -in "$cert" \
		| cut -d= -f2)" -D'%b %d %H:%M:%S %Y GMT' +'%s')
	printf 'Domain %s will expire in: "%s" %s\n' "$1" "$expiration"
}

acme() {
	site=$1
	shift

	/usr/bin/uacme -v -h /usr/share/uacme/uacme.sh issue $site $* || true

	stats $site
}

# TODO: Replace this with vars
acme mail.s3consultoria.net
doas nginx -s reload
